* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'PT Serif', serif;
    font-weight: 500;
}

@media (max-width: 600px) {
    * {
        font-size: 12px;
    }
}

header {
    background: rgb(77,189,212);
    background: linear-gradient(45deg, rgba(77,189,212,1) 0%, rgba(8,121,180,1) 46%, rgba(73,66,203,1) 100%);
    padding: 2em;
    height: 14em;
}

main {
    padding: 4em;
    padding-top: 5em;
    background-color: rgb(226, 236, 240);
}

main p {
    text-align: justify;
    text-indent: 2em;
}

#content {
    display: flex;
    flex-direction: row;
}

#resume {
    padding: 3em;
}

#left_img {
    width: 25em;
}

#profile_picture {
    width: 16em;
    height: 16em;
    border-radius: 50%;
    overflow: hidden;
    border: .6em solid white;
    margin: 0 auto;
}

#profile_picture img {
    width: 26em;
    object-position: -3em;
}

#title {
    text-align: center;
    margin-bottom: 2em;
}

h1 {
    font-size: 2.3em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}
footer {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2em;
    /* background: rgb(77,189,212); */
    /* background: linear-gradient(45deg, rgba(77,189,212,1) 0%, rgba(8,121,180,1) 46%, rgba(73,66,203,1) 100%); */
}

#footer_bg_image {
    position: absolute;
    top: -20em;
    left: 0;
    max-width: 100%;
    min-width: 1200px;
    object-fit: cover;
    opacity: .5;
    z-index: 0;
}

#footer_elements {
    z-index: 1;
    display: flex;
    flex-direction: column;
}

footer h3 {
    text-align: center;
    margin: 2em auto;
}
#icons_authors {
    font-size: 0.8em;
    margin-left: auto;
}

#icons_authors a {
    font-size: 1em;
}

#contacts {
    margin-left: auto;
}

.contact_link {
    float:left;
    margin-right: 1em;
    width: 3.5em;
    height: 3.5em;
    background: rgb(0,155,186);
    background: linear-gradient(135deg,rgba(100,189,207,1) 0%, rgba(110,110,203,1) 50%, rgba(111,106,208,1) 100%);
    position: relative;
}

.contact_link:nth-child(1) {
    border-radius: 36% 64% 27% 73% / 67% 46% 54% 33% ;
}

.contact_link:nth-child(2) {
    border-radius: 35% 65% 13% 87% / 50% 43% 57% 50%;
}

.contact_link:nth-child(3) {
    border-radius: 68% 32% 72% 28% / 50% 43% 57% 50%;
}

.contact_link:nth-child(4) {
    border-radius: 77% 40% 13% 87% / 74% 43% 57% 26%;
}

.contact_link img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2em;
}