* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Caveat', cursive;
	font-family: 'Kalam', cursive;
}

body {
	width: 80%;
	margin: 0 auto;
}
header {
	display: grid;
	grid-template-columns: 150px 1fr;
}

.logo_container {
	grid-column: 1;	
}
.logo {
	height: 100px;
	margin-top: 23px;
}

.menus_header {
	grid-column: 2;
}

.menu {
	margin: 10px;
	list-style: none;
	float: right;
	display: flex;
	flex-direction: row;
}

.menu_item {
	border-right: 2px solid gray;
	padding: 5px 20px;
}

.menu_item:last-child {
	border: none;
}

.menu_item:last-child #menor {
	font-size: small;
}

.menu_item:last-child #medio {
	font-size: medium;
}

.menu_item:last-child #maior {
	font-size: large;
}

.search {
	float: right;
	clear: both;
}

#find_school {
	width: 100px;
}

#site_search_ok{
	width: 40px;
}

.search a {
	float: right;
	display: block;
}

.navigation {
	float: right;
	clear: both;
	margin-top: 20px;
}

.nav_list {
	list-style: none;
	display: flex;
	flex-direction: row;
}

.nav_item {
	width: 180px;
	text-align: center;
	border: 2px solid gray;
	padding: 5px 5px;
	margin-right: 10px;
}

.nav_item:last-child {
	margin-right: 0;
}

main {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	gap: 30px;
}

aside {
	grid-column: 1;
}

#banner {
	width: 100%;
}

.secoes {
	list-style: none;
}

.secao {
	border: 2px solid gray;
	margin: 5px 0;
	padding: 2px;
}

.links {
	background-color: lightgray;
	border: 2px solid gray;
	padding: 10px;
	list-style: none;
}

.link::before {
	content: "> ";
}

.artigos {
	width: 100%;
}

.artigo {
	background-color: lightgray;
	padding: 15px;
	margin-bottom: 15px;
}

.clearfix::before, .clearfix::after {
	content: ' ';
	display: table;
}

.clearfix::after {
	clear: both;
}

.artigo_titulo {
	margin-bottom: 10px;
}

.artigo_titulo h2 {
	float: left;
}

.artigo_titulo i {
	float: right;
	margin-left: 3px;
}
.artigo_titulo a {
	float: right;
}
.artigo_conteudo {
	clear: left;
	display: grid;
	grid-template: 1fr auto / auto 1fr;
	column-gap: 7px;
}

#imagem_artigo {
	width: 100px;
	margin: auto;
}

.otherside {
	grid-column: 3;
}

.linha1 {
	grid-row: 1;
}

.linha2 {
	grid-row: 2
}

.linha3 {
	grid-row: 3
}

.linha4 {
	grid-row: 4
}

.coluna1 {
	grid-column: 1;
	text-align: right;
}

.coluna2 {
	grid-column: 2;
	text-align: left;
}

#conteudo_newsletter p {
	text-align: left;
}

#conteudo_newsletter span {
	float: right;
	clear: left;
}

.spotlight {
	width: 100%;
	background-image: url("./imagem2.jpeg");
	padding-top: 100px;
	position: relative;
}

.botoes_nav {
	padding: 5px;
	position: bottom;
	text-align: right;
	font-weight: bolder;
	font-size: large;
}

.text_spotlight {
	background: rgb(211, 211, 211, 0.5);
	padding: 5px;
	margin-left: 25px;
	margin-right: 0px;
	margin-bottom: 50px;
	flex: right;
	clear: right;
}

.spotlightmenor {
	padding: 10px;
	background-color: lightgray;
	margin-top: 20px;
}

.spotlightmenor img {
	width: 100px;
	float: left;
	margin-right: 10px;
}

.spotlightmenor h3 {
	margin-top: 10px;
}

footer {
	margin-top: 20px;
	width: 100%;
	border-top: 2px solid gray;
	display: grid;
	grid-template-columns: 1fr / 1fr auto 1fr;
	column-gap: auto;
	padding-bottom: 45px;
}

.menu_footer {
	margin: 10px;
	list-style: none;
	display: flex;
	flex-direction: row;
	grid-row: 1;
	grid-column: 1;
}

.btn_topo {
	grid-row: 1;
	grid-column: 2;
	text-align: center;
	align-items: center;
}

.departamento {
	grid-row: 1;
	grid-column: 3;
	margin: 10px 0;
}

.departamento p {
	text-align: right;
}
.menu_footer>.menu_item {
	padding: 3px 5px;
}

.btn_topo a {
	text-decoration: none;
	color: black;
}

.clicavel:hover {
	cursor: pointer;
	transform: scale(1.05);
}